---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Error 404">

  <main class="max-w-4xl m-auto min-h-screen grid place-content-center">

    <h1 class="text-4xl font-black">Por aqui no hay nada</h1>
    <img src="https://media.giphy.com/media/OfpdDt12u1Psk/giphy.gif">
  
  </main>
  
</Layout>

